/* "Допишите первую домашку.
Кто получил фидбек – доработайте страницу.
Подключите к странице css фаил.
Измените фон (любой) всей страницы.
Измените заголовок (любой стиль), увеличьте первую букву каждого параграфа.
Поменяйте цвет текста всех ссылок: ссылки меню – одного цвета, ссылки на странице – другого.
Добавьте стили для ссылок при наведении на них.
Измените цвет фона одного из разделов, на котором есть id, но используя класс и измените в нем размер шрифта.
Не забудьте добавить в цсс фаил минимальный reset, на ваше усмотрение.
Используйте псевдо-элементы :before/:after – минимум один раз на странице, на ваше усмотрение."
 */
 
@import "reset.css";
 

body {
	background:#D7C4C4;
}

h1 {
	color:#731010;
}

p:first-letter {
	font-size:150%;
}

a {
	color:#1F1F6D;
}

nav a {
	color:#156915;
}

a:hover {
	color:#6F256F;
	text-decoration:none;
}

.block_contacts {
	background:#B7B7EF;
	font-size:150%;
}

.block_faq:before {
	content:"block FAQ";
	text-align:center;
}

.block_faq:after {
	content:"end";
	text-align:center;
}
